$footer-background: #5c6faa;

.children {
  padding-top: 2em;
  background-color: $footer-background;
}

.footer {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 3em 5em;
  margin-top: auto;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  background-color: $footer-background;

  .footer__section {
    position: relative;
    margin: 5px;

    a {
      display: flex;
      align-items: center;
      position: relative;
      color: #fff;
      font-size: 1rem;
      margin-bottom: 10px;
      transition: 100ms ease;

      &[href]:not(.footer__section__header):hover {
        color: rgb(201, 201, 201);
      }

      &.footer__section__header {
        font-weight: bold;
        font-size: 1.35rem;
        width: max-content;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 3px;
          border-radius: 10px;
          background-color: currentColor;
        }
      }
    }

    .icon {
      margin-right: 5px;
      position: relative;
    }
  }
}

.ending {
  background-color: #7487c1;
  padding: 20px 5em;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 2em 3em;
  }
}
