html {
	background: linear-gradient(
			124deg,
			rgba(237, 236, 255, 1) 0%,
			rgba(123, 163, 181, 1) 47%,
			rgba(97, 146, 164, 1) 60%,
			rgba(80, 135, 153, 1) 70%,
			rgba(66, 126, 144, 1) 82%,
			rgba(0, 84, 101, 1) 100%
		)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

::-webkit-scrollbar {
	width: 0.4rem;
}
::-webkit-scrollbar-track {
	background-color: #2a2b2e;
}
::-webkit-scrollbar-thumb {
	background-color: #5ccbff;
	border: 1px solid #5ccbff;
	border-radius: 5px;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.text_svg path {
	stroke: red;
	stroke-dasharray: 5000;
	stroke-dashoffset: 0;
}
